.profile {
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 2px solid #01b29e;
    margin-top: 482px;
    z-index: 999;
    margin-right: -40px;
}

.horizontal1 {
    height: 1px;
    background-color: #01b29e;
    border: none;
}